
.form-wrapper{    
    width: 100%;
    background-color: rgb(7, 7, 7);
    padding: 2rem;
    
    
}

.form-wrapper form {
    width: 40%;   
    margin: 0 30%;
    align-items: left;
    
     
}

.form-wrapper form h1{
    color: #aa9166;
    padding: 10px;
    text-align: center;
    font-size: 28px;
  }

  .form-wrapper form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #fff;
    align-items: left;
    margin-left: 15%;
}

.form-wrapper form input {
    width: 70%;
    padding: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #fafafa;
    border-radius: 6px;
    font-size: 14px;
    margin-left: 15%;
}

.form-wrapper form button {
    background-color: #aa9166;
    height: 40px;
    color: #131313;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-left: 15%;
}



.form-wrapper form button:hover {
    background-color: black;
    color: #e9e8e8;
}

.form-wrapper form p {
    color: #fff;
    margin: 2% 25%;
    padding: -1rem;

    
}


.form-wrapper form .register-link {
  margin-top: 20px;
}

.form-wrapper form .register-link a {
    color: rgb(249, 243, 249);
    text-decoration: none;
    
}

.form-wrapper form .register-link a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .form-wrapper form {
        width: 80%; 
        margin: 0 auto; 
        
    }
    .form-wrapper form h1{
        font-size: 22px;
    }
}

/* Media query for mobile */
@media screen and (max-width: 480px) {
    .form-wrapper form {
        width: 90%; 
        margin: 0 auto;
    }

    .form-wrapper form h1{
        font-size: 18px;
    }
}
