.service-containers{
    width: 100%;
    background-color: black;
}
.service-containers .card.active {
    height: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}


.service-containers  .containers{
    min-height: 100vh;
    width: 100%;
    background-color:  #000;
}

.service-containers .service-wrapper{
padding: 2% 8%;
}

.service-containers .service{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-containers .service-containers h1{
    color: #fff;
    font-size: 4rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: transparent ;
    letter-spacing: 2px;
    position: relative;
}

.service-containers  h1::after{
    content: "";
    position: absolute;
    top: 30%;
    left: 35%;
    height: 8px;
    width: 30%;
    background-color: #aa9166;
}
.service-containers .cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-top: 90px;
}
.service-containers .card{
    height: 320px;
    width: 260px;
    background-color:  #4d4e4d;
    padding: 3% 8%;
    border: 0.2px solid rgba(144, 226, 174, 00.2);
    border-radius: 10px;
    transition: 0.6s;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    
}
.service-containers .card i{
    color:#aa9166;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 2.8rem;

}

.service-containers .card h2{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;

}

.service-containers .card li{
    text-align: left;
    width: 100%;
    margin: 12px 0;
    color: #fff;
    font-size: 12px;
}

.service-containers .card:hover{
    background-color: #7e8483;
    transform: translateY(-8px);
    border-color: rgb(202, 200, 200);
}



@media  screen and (max-width:768px) {
    .service-containers .cards{
    grid-template-columns: repeat(2,1fr);

}
    
    
}

@media  screen and (max-width:480px) {
    .service-containers  .cards{
        grid-template-columns: repeat(1,1fr);
        
    }

    .service-containers h1{
        font-size: 2rem;
    }

}