/* General CSS */

body {
    color: #666;
    background: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h1 {
    font-weight: 600;
    color: #121518;
}

/* Navigation CSS */

.navbar .navbar-nav .nav-item a {
    padding: 15px;
}

.navbar .navbar-nav .nav-item a:hover {
    color: #aa9166;
}

/* Slider CSS */

.carousel {
    position: relative;
    width: 100%;
    height: calc(100vh - 170px);
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}

.carousel .carousel-inner,
.carousel .carousel-item {
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel .carousel-item::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .3);
    /* z-index: 1; */
}

.carousel .carousel-caption {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: calc(100vh - 170px);
}

.carousel .carousel-caption h1 {
    color: #ffffff;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 20px;
}

.carousel .carousel-caption p {
    color: #ffffff;
    font-size: 25px;
    margin-bottom: 25px;
}

.carousel .carousel-caption .btn {
    padding: 15px 35px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    background: #aa9166;
    border-radius: 0;
    transition: .3s;
}

.carousel .carousel-caption .btn:hover {
    background: #aa9166;
    color: #121518;
}

@media (max-width: 768px) {
    .carousel .carousel-caption h1 {
        font-size: 40px;
        font-weight: 700;
    }

    .carousel .carousel-caption p {
        font-size: 20px;
    }

    .carousel .carousel-caption .btn {
        padding: 12px 30px;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0;
    }
}

@media (max-width: 576px) {
    .carousel .carousel-caption h1 {
        font-size: 30px;
        font-weight: 500;
    }

    .carousel .carousel-caption p {
        font-size: 16px;
    }

    .carousel .carousel-caption .btn {
        padding: 10px 25px;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0;
    }
}

.carousel .animated {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}

/* About Us CSS */

.about {
    position: relative;
    width: 100%;
    padding: 60px 0;
}

.about .section-header {
    margin-bottom: 30px;
}

.about .about-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about .about-text p {
    font-size: 16px;
}
.about .about-text a.btn {
    position: relative;
    margin-top: 15px;
    padding: 15px 35px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    border-radius: 0;
    background: #aa9166;
    transition: .3s;
}

@media (max-width: 768px) {
    .about .about-img {
        margin-bottom: 30px;
        height: auto;
    }
}

/* Services CSS */
.service-container {
    /* min-height: 100vh;
    width: 100%; */
    background-color: #121518;
}
.service .card {
    background-color: #aa9166;
    color: #fff;
}

.service .img{
    padding-bottom: 55%;
    background-size: cover;
    background-position: center;
}

/* Footer CSS */

.footer {
    position: relative;
    padding-top: 180px;
    background: #121518;
    color: #ffffff;
}

.footer .footer-about,
.footer .footer-link,
.footer .footer-contact {
    position: relative;
    margin-bottom: 45px;
    color: #999999;
}

.footer .footer-about h2,
.footer .footer-link h2,
.footer .footer-contact h2 {
    position: relative;
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: 600;
    color: #aa9166;
}

.footer .footer-contact p a{
    color: #999999;
    text-decoration: none;
}

.footer .footer-link a {
    display: block;
    margin-bottom: 10px;
    color: #999999;
    transition: .3s;
}

.footer .footer-link a::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .footer-link a:hover {
    color: #aa9166;
    letter-spacing: 1px;
}

.footer .footer-contact .footer-social a{
    color: #aa9166 ;
    letter-spacing: 1rem;
}

.footer .copyright {
    padding: 30px 15px;
}

.footer .copyright p {
    margin: 0;
    color: #999999;
}

.footer .copyright p {
    text-align: center;
}

.footer .copyright p a {
    text-decoration: none;
    color: #aa9166;
    font-weight: 500;
}

.footer .copyright p a:hover {
    color: #ffffff;
}

@media (max-width: 768px) {

    .footer .copyright p,
    .footer .copyright .col-md-6:last-child p {
        margin: 5px 0;
        text-align: center;
    }
}